# Eclipse project files
.project
.pydevproject
.settings

# Python byte code files
*.pyc

# Credentials file
oauth/credentials.json

# Google Drive temp targer folder
GoogleDrive

# vim swap file
*.swp

